---
import Astro from "astro";
const submitForm = async (event) => {
  event.preventDefault();
  const formData = {
    hostName: event.target.host.value,
    expiryDate: event.target.date.value,
    hostProvider: event.target.hostProvider.value,
    hostPrice: event.target.price.value,
    comment: event.target.comment.value
  };
  try {
    await Astro.fetchContent("/api/hosts", {
      method: "POST",
      body: JSON.stringify(formData),
      headers: {
        "Content-Type": "application/json",
      },
    });
    Astro.request.location.replace("/hosts");
  } catch (error) {
    alert(`Error: ${error.message || error.status}`);
  }
};
---
<form class="form mt-6 max-w-3xl" onsubmit="submitForm(event)">
  <div class="flex flex-wrap gap-4">
    <label for="email-address" class="sr-only">Host Address</label>
    <input id="email-address" name="host" type="text" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Host address">
    <input id="host-provide" name="hostProvider" type="text" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Host provider">
    <input id="host-price" name="price" type="number" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="price">
    <input id="expiration-date" name="date" type="date" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">

    <textarea id="comment" name="comment" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Comment"></textarea>
    <button type="submit" class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Add Host</button>
  </div>
</form>
